* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  margin: 0;
  padding: 0rem;
  background-image: url("./assets/imgs/loginBg.jpg");
  background-size: cover;
}
.signup-container {
  margin: 0;
  padding: 0rem;
  background-image: url("./assets/imgs/loginBg3.jpg");
  background-size: cover;
}
.login-wrap {
  background-color: rgb(255, 255, 255);
  border-left: 1rem solid rgba(255, 179, 71, 0.645);
}
#outlined-basic {
}
.login-img-wrap {
}

.form-wrapper {
  /* background-color: rgb(116, 229, 161); */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Login-Btn {
  padding: 1rem !important;
  width: 100%;
  margin-top: 1rem !important;
  background: rgb(255, 209, 0);
  background: linear-gradient(
    22deg,
    rgba(255, 209, 0, 1) 0%,
    rgba(244, 159, 0, 1) 100%
  );
  color: black !important;
  text-align: center;
}
